input {
    width: 100%;
    padding: 0.75rem;
    font-size: var(--fs-100);
  }
  .login-label{
    width: 100%;
  }
.form-section {
    min-height: 100%;
    display: flex;
    padding: clamp(1rem, 5vw, 2rem);
  }
  
  .form-wrapper {
    width: 100%;
    padding: clamp(1rem, 5vw, 2rem);
    margin: auto;
    background-color: #f9ece6;
    border-radius: 0.25rem;
  }
  
  .form-wrapper .title {
    color: var(--text-alt)
  }
  
  .form-group {
    margin-bottom: 1rem;
    flex-grow: 1;
    flex-shrink: 1;
  }
  
  .form-input {
    background-color: white;
    color: #000;
    border: 0;
    border-radius: 0.25rem;
  }
  
  .form-link {
    color: #f37488;
  }
  
  .form-submit {
    padding: 1rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    background-color: #f16179;
    color: var(--white);
    transition: background-color cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.3s;
  }
  
  .form-submit:hover {
    background-color: #f37488;
  }
  
  .form-footer {
    margin-top: 2rem;
    color: var(--text)
  }
  
  
  @media screen and (min-width: 40rem) {
  
    .form-wrapper {
      max-width: 50ch;
    }
  
    .form-row {
      display: flex;
    }
  
    .form-row--inline {
      display: inline-flex;
    }
  
    .form-row>.form-group {
      margin-right: .5rem;
      margin-left: 0.5rem;
    }
  
    .form-row>.form-group:first-child {
      margin-left: unset;
    }
  
    .form-row>.form-group:last-child {
      margin-right: unset;
    }
  }
  
  /*
    Utility
  */
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip-path: inset(50%);
    border: 0;
    white-space: nowrap;
    visibility: hidden;
  }